body,html
  padding 0em
  margin 0em
  font-size 16px
body
  display flex
  min-height 100vh
  flex-direction: column
.centerauto
  margin auto
.bold
  font-weight bold !important
.listNumero
  position relative
  .itemNumero
    transition transform 200ms ease-out
    position absolute
    height 25px